{
    # Enables structured logging to stdout
    log {
        format console
    }
}

http://localhost {
    respond "OK"
}

{$APPOPTIONS__DOMAINNAME} {
    tls {$APPOPTIONS__TLS}

    reverse_proxy {$APPOPTIONS__HOSTNAME}:{$APPOPTIONS__HOSTPORT} {
        transport http {
            keepalive 35s
            keepalive_idle_conns 10
        }
    }
}